min-release-age=7
min-release-age-exclude[]=next
min-release-age-exclude[]=eslint-config-next
min-release-age-exclude[]=@next/*
min-release-age-exclude[]=nanoid
min-release-age-exclude[]=postcss
min-release-age-exclude[]=sharp
min-release-age-exclude[]=tmp
min-release-age-exclude[]=uuid
save-exact=true
ignore-scripts=true
